#map {
	height: 100%;
	width: 100%;
	right: 20%;
	position: absolute;
}

#rank {
	height: 100%;
	width: 20%;
	right: 0%;
	position: absolute;
}

#li1 {
	text-align: center;
}
body {
	margin: 0;
	padding: 0;
}
.btn {
	background-color: transparent;
	border: transparent;
	float: right;
}

.btn:hover {
	background-color: #555555;
	color: white;
}
img {
	max-width: 15px;
	max-width: 13px;
}
