#map {
	height: 100%;
	width: 100%;
	right: 20%;
	position: absolute;
}

#rank {
	height: 100%;
	width: 20%;
	right: 0%;
	position: absolute;
}

body {
	margin: 0;
	padding: 0;
}
.list-group {
	max-height: 100vh;
	margin-bottom: 10px;
	overflow-y: auto;
}
